.logo{
    background-color: #535353;
    padding: 25px 15px;
}

.logo h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #D5F46B;
}

.logo span{
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
}

.menu{
    background-color: #303030;
    padding: 5px 5px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 15px;
}
